In [1]:
# This is an Ploting snippet!
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = "svg"
%matplotlib inline

In [99]:
df = (
    pd.read_csv("./allReadCounts.txt", sep="\t", names=["ID", "Sample", "Barcode", "Array", "Count", "Proportion"])
    .assign(B1=lambda x: x["Barcode"].str.split("_").str[:].str.join("_"))
    .pivot_table(index="B1", columns="Sample", values="Proportion", aggfunc=np.sum, fill_value=np.NaN)
)
df.head()

Sample,hsp5-1,hsp5-2,hsp5-3,hsp5-4,hsp5-5,hsp5-6,hsp5-7,hsp5-8
B1,,,,,,,,
103D+140_103D+140_103D+140_103D+140_57D+246_57D+246_57D+246_27D+331_27D+331_NONE,0.000292,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107D+140_107D+140_107D+140_107D+140_107D+140_12D+262_NONE_15I+326+CTGTCATGGAGTCGA_2D+353_NONE,NaN,NaN,NaN,NaN,NaN,NaN,0.000129,NaN
107D+140_107D+140_107D+140_107D+140_107D+140_1I+275+C_NONE_NONE_NONE_NONE,NaN,NaN,NaN,NaN,NaN,NaN,0.000129,NaN
107D+140_107D+140_107D+140_107D+140_107D+140_NONE_NONE_NONE_NONE_NONE,NaN,NaN,NaN,NaN,NaN,NaN,0.000518,NaN
108D+134_108D+134_108D+134_108D+134_NONE_2D+273_3D+299_NONE_NONE_NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000378

In [111]:
print(np.mean([
    (df[f"hsp5-{x}"] * df[f"hsp5-{y}"]).sum() /  abs(df[f"hsp5-{x}"]).sum() / abs(df[f"hsp5-{y}"]).sum() for x in range(1, 9) for y in range(1, 9)
]) * 10_000)

9.4318079675824